{% extends 'base.html' %}

{% block head %}
    <title>Main Page</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <style>
      .my-custom-buttom{
        border-radius: 50px;
        background: #ffffff;
        box-shadow:  20px 20px 60px #d9d9d9,
                    -20px -20px 60px #ffffff;
        color: #004fff;
      }
    </style>
    <!-- <link href="{{ url_for('static' , filename='css/cover.css') }}" rel="stylesheet"> -->
    <!-- {{ url_for('static' , filename='image/logo.png') }} -->
{% endblock %}

{% block body %}
  <main class="h-100">
    <div class="container-fluid px-3">
      <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="{{ url_for('static' , filename='image/logo.png') }}" alt="Logo" style="height:9vh">
          </a>
    
          <ul class="nav nav-pills align-items-center">
            <li class="nav-item"><a href="/aboutus" class="nav-link my-custom-buttom" aria-current="page">About us</a></li>
          </ul>
        </header>
      </div>
  
      <div class="container-fluid pt-5">
        <div class="row">
          <div class="col-6 py-5 px-5">
            <h1 class="px-5" style="font-size: 108px;">iMedic</h1>
            <p class="px-5 pb-2" style="font-size: 18px;">A mini medical check-up generator</p>
            <div class="container-fluid px-5">
              <a class="btn btn-outline-dark" href="/prediction" role="button">Start Medical Check-Up</a>
            </div>
          </div>
          <div class="col-6">
            <img src="{{ url_for('static' , filename='image/undraw_medicine.svg') }}" alt="Doctor Image" style="width: 100%;height: 70%;">
          </div>
        </div>
      </div>
    </div>

    <nav class="fixed-bottom">
      <div class="container-fluid m-0 p-0" style="height: 30vh;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#004fff" fill-opacity="1" d="M0,192L40,170.7C80,149,160,107,240,117.3C320,128,400,192,480,181.3C560,171,640,85,720,90.7C800,96,880,192,960,208C1040,224,1120,160,1200,117.3C1280,75,1360,53,1400,42.7L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
      </div>
    </nav>
  </main>
  
{% endblock %}